.image-preview-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.image-box {
    position: relative;
    width: 500px;
    height: 500px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.deleteButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}